h2 {
    margin: 0 auto 2rem auto;
}


body {
    background-color: black;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
}

.header__header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__header > h1 {
    margin-right: 2rem;
    font-size: 3em;
}

.header__city-name {
    font-style: oblique;
    font-size: 2rem;
}

.header__city-name::before,
.header__city-name::after {
    content: "✨";
}

.indicator-area {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.temperature__section,
.sky__section,
.city-name__section {
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
    width: 17rem;
    background-color: white;
}


.temperature__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
/* justify-content: center; */
}

.temperature__section button {
    background-color: #1060c3;
    border: none;
    color: white;
    padding: 10px 10px;
    margin-top: 0.5rem;
    width: 8rem;
    height: 6rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

#currentTempButton:hover, #cityNameReset:hover {
    cursor: pointer;
    transform: scale(1.05)
}

.temp-image {
    margin-top: 0.5rem;
    width: 50px;
}

.garden__section {
    margin-top: 2rem;
    text-align: center;
    /* align-self: center; */
}


#tempValue {
    font-size: 3rem;
    margin-inline: 1rem;
}

.temperature__controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.garden__section > h2 {
    color: white;
}

.garden__content {
    min-height: 200px;
    max-width: fit-content;
    margin: auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 8px;
    font-size: 2em;
    background-color: #45aedf;
}

#cityNameInput, #skySelect {
    height: 2rem;
    border-radius: 5px;
    font-size: 16px;
}

#skySelect {
    width: 10rem;
}

.sky-wrapper {
    display: flex;
    
}

.sky-icon {
    margin-top: 0.5rem;
    width: 70px;
    height: 70px;
} 


.city-name__reset-btn {
    border: 0;
    background-color: #1060c3;
    color: white;
    border-radius: 5px;
    padding-block: 0.6rem;
    padding-inline:1rem;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
}

.red {
color: red;
}

.orange {
color: orange;
}

.yellow {
color: gold;
}

.yellow-green {
color: yellowgreen;
}

.green {
color: green;
}

.teal {
color: teal;
}

.cloudy {
background-color: lightgrey;
}

.sunny {
background-color: rgb(221, 255, 255);
}

.rainy {
background-color: lightblue;
}

.snowy {
background-color: lightsteelblue;
}